/* 
    Document   : estilos
    Created on : 07/10/2011, 23:14:54
    Author     : AJELFI
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    background: url(imagens/logofundo.png) no-repeat center;
    background-attachment: fixed;
    color: #012B8B;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	
    font-size: 12px;
    margin: 0;
    
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
	    margin: 0 auto;
	width:auto;
}

/**************************************

/************ CSS TRIGGER - tratamento ERROS *************

**************************************/



.trigger{position: relative; padding: 20px; color: #333; background: #ccc; border: 1px solid #333; font:400 14px 'Verdana', sans-serif;}

.trigger{border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

.trigger .ajax_close{position: absolute; right: 10px; cursor: pointer; top: 10px; background: black; width: 20px; height: 20px; display: none;}

.trigger.accept{background-color: #E5F8CE; border-color: #D0F1A6;}  /*UTILIZANDO NA MESMA INTANCIA - sendo chamado de CSS OO .trigger.accept*/

.trigger.infor{background-color: #D1ECF7; border-color: #BCDFEF;}

.trigger.alert{background-color: #FFF6BF; border-color: #FCEB77;}

.trigger.error{background-color: #FAD0D0; border-color: #F6ABAB;}

table {
  font: 100% sans-serif;
  
  }
  
  th, td {
    padding: 5px;
    
}

.text-left{text-align: left;}
.tableComum{
    border: 1px solid #fff;
    empty-cells: show;
    background-color: #DAE2F5;
    border-collapse: collapse;
    text-align: center;
}

.tableComum th{
     background-color: #fff;
      border: 1px solid #DAE2F5;
      border-bottom: 1px solid #000;
}

.indiceTabelaComum{
     background-color: #C6CFE4;
}

 select, input, textarea, checkbox{
	background-color: #DAE2F5;
	 box-sizing: border-box;
	  border: 2px solid #012B8B;
	  border-radius: 4px;
	  padding: 5px;
           font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input:focus,select:focus,textarea:focus{
	background-color: #DAE2F5;
	 box-sizing: border-box;
	  border: 2px solid #ff3c3c;
	  border-radius: 4px;
	  padding: 5px;
}

input[type=submit],input[type=button]{
	background-color: #bdbebf;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	  padding: 5px;
	
}

input[type=submit]:hover,input[type=button]:hover{
	background-color:  #f1f1f1;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	  padding: 5px;
	  color: red;
	  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	 -webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	 cursor:pointer;
	  
	
} 


legend{
    font-size: 18px;
    font-weight: bold;
}


.iframeStyle{
	
	width: 100%;
	height:500px;
	frameborder: 1;
}

h2 {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}





#menu {
float: right;
 
 }
 
 

#menu ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
 float: left;
 width: 100%;
 list-style:none;
 font: 11px verdana, arial, helvetica, sans-serif;

 
 }

 #menu ul li {display: inline;}

 #menu ul li a{
 padding: 5px 10px;
 margin: 0px 0px;
 float:left;
 /* visual do link */

 
text-decoration: none; 
display: inline-block;
 }

 
  #menu ul li a:hover  {


 }
 
 /*menus */
 #menu_paginas {

text-align: left;
 }
 
 

#menu_paginas ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
    
 width: 100%;
 list-style:none;
 font: 14px verdana, arial, helvetica, sans-serif;
 
 
 }

 #menu_paginas ul li {display: inline;}

 #menu_paginas ul li a{
 padding: 5px 10px;
 margin: 0px 0px;

 /* visual do link */

 
text-decoration: none; 
display: inline-block;
 }

 
  #menu_paginas ul li a:hover  {


 }
 
 
 td.label {
    
    padding-right: 3px;
    width: 120px;
	text-align: right;
}

 
 td.input {
    
    padding-right: 3px;
   
	text-align: left;
}

 
 td.label2 {
    
    padding-right: 3px;
   
	text-align: right;
}

 
 td.input2 {
    
    padding-right: 3px;
   
	text-align: left;
}


.carregando{
color:#666;
display:none;
}

/*//Botoes GErais*/
.bt_vermelho{
	color: red;
        margin-bottom: 5px;
}

.bt_verde{
	color: green;
        margin-bottom: 5px;
}

.bt_azul{
	color: blue;
        margin-bottom: 5px;
}

.bt_incluir{
    width: 80px; 
    height: 35px; 
    color: blue;
}

.bt_imprimir:link, .bt_imprimir:visited{
   
color: #000;
    padding: 14px 40px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;

	background-color: #bdbebf;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	
}

.bt_imprimir:hover, .bt_imprimir:active{
    	background-color:  #f1f1f1;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	  padding: 14px 40px;
	  color: red;
	  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	 -webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	 cursor:pointer;
}




/*Campo de Procurar na Tabela de dados */
.inputProcurar {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #012B8B;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('imagens/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
}

.inputProcurar:focus {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #012B8B;
    border-radius: 4px;
    font-size: 16px;
  
    background-image: none;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
}

.textProcurar {
    font-size: 14px;
}

/* ----- Estilo dos Fieldsets ---------- */
.fieldsetGeral{
	background-color: #fff;
	
}

fieldset{
	background-color: #fff;
	
}

/* ALERTA de Mensagens */
.sucesso{
    font-size: 16px;
    padding: 20px;
}

.erro{
        font-size: 16px;
    padding: 20px;
    color: #ff3c3c;
    
}

/* ---- PAgina Editar_Orcamento ----- Opçoes Imprimir e ALterar Situação ORC */
#editarOrcOpcoes ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
 float: left;
 width: 100%;
  list-style:none;
}

#editarOrcOpcoes ul  li{
display: inline;

}

 #editarOrcOpcoes ul li a{

 float:left;
 /* visual do link */

display: inline-block;
 }
 
 #editarOrcOpcoes ul li form{
 padding: 8px 10px 10px 10px;

 float:left;
 /* visual do link */
display: inline-block;
 }

 
 .alinhamentoHorizontal ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
 float: left;
 width: 100%;
  list-style:none;
}

.alinhamentoHorizontal ul  li{
display: inline;

}

 .alinhamentoHorizontal ul li a{
 padding: 8px 10px 10px 10px;
 margin: 0px 10px 0px 0px;
 float:left;
 /* visual do link */

display: inline-block;
 }
 
 .alinhamentoHorizontal ul li form{
 padding: 8px 10px 10px 10px;

 float:left;
 /* visual do link */
display: inline-block;
 }
 
 /*-----------PADRÕES --------------------*/
 /* -------- formatação BOtão LINK geral --------------*/
 
 .bt_link:link, .bt_link:visited{
   

    padding: 8px 10px 10px 10px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;

	background-color: #bdbebf;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	
}

.bt_link:hover, .bt_link:active{
    	background-color:  #f1f1f1;
		 box-sizing: border-box;
	  border: 1px solid #646466;
	  border-radius: 4px;
	  color: red;
	  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	 -webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	 cursor:pointer;
}

.padding_padrao{
    padding: 10px;
}