/* 
    Document   : estilos
    Created on : 07/10/2011, 23:14:54
    Author     : AJELFI
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    background: url(imagens/logofundo.png) no-repeat center;
    background-attachment: fixed;
    color: #012B8B;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	
    font-size: 12px;
    margin: 0;
    
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
	    margin: 0 auto;
	width:1000px;
}

h2 {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#corpo {

}


#menu {
float: right;
 
 }
 
 

#menu ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
 float: left;
 width: 100%;
 list-style:none;
 font: 11px verdana, arial, helvetica, sans-serif;

 
 }

 #menu ul li {display: inline;}

 #menu ul li a{
 padding: 5px 10px;
 margin: 0px 0px;
 float:left;
 /* visual do link */

 
text-decoration: none; 
display: inline-block;
 }

 
  #menu ul li a:hover  {


 }
 
 /*menus */
 #menu_paginas {

text-align: left;
 }
 
 

#menu_paginas ul {
 padding:0px 0px 0px 0px;
 margin:-2px 0px 0px 0px;
    
 width: 100%;
 list-style:none;
 font: 14px verdana, arial, helvetica, sans-serif;
 
 
 }

 #menu_paginas ul li {display: inline;}

 #menu_paginas ul li a{
 padding: 5px 10px;
 margin: 0px 0px;

 /* visual do link */

 
text-decoration: none; 
display: inline-block;
 }

 
  #menu_paginas ul li a:hover  {


 }
 
 
 td.label {
    
    padding-right: 3px;
    width: 120px;
	text-align: right;
}

 
 td.input {
    
    padding-right: 3px;
   
	text-align: left;
}

 
 td.label2 {
    
    padding-right: 3px;
   
	text-align: right;
}

 
 td.input2 {
    
    padding-right: 3px;
   
	text-align: left;
}


.carregando{
color:#666;
display:none;
}